# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Thumbnails
._*

# Ignore IntelliJ project info
.idea/

# PDF and HTML
/asciidoc/*.pdf
/asciidoc/*.html

# output documents
/docbook/out/*

